<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/redvoznjeDB" method="post">
    Broj voza
    <input type="text" name="brojvoza" required>
    <br>
    Destinacija
    <input type="text" name="destinacija" required>
    <br>
    Datum
    <input type="text" name="datum" required>
    <br>
    Vreme
    <input type="text" name="vreme" required>
    <br>
    Broj mesta
    <input type="text" name="brojmesta" required>
    <br>

    <input type="submit" value="Unesi" required>
    
    </form>
</body>
</html>